body{
    font-family: 'Lato', sans-serif;
    margin: 0%;
}
.primary-nav{
    display: flex;
    justify-content: space-between;
    padding: 6px 25px;
}

.primary-nav ul{
    display: flex; 
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}
.primary-nav ul li{
    margin: 12px;
    
}
.primary-nav ul li a{
    text-decoration: none;
    color: #000;
}
.primary-nav ul li a:hover{
border-bottom: 1px solid #000;
}
.primary-nav ul li img{
    width: 100px;
}
.header-img-wraper img{
    width: 100%;
}
.ms-products-wraper{
    display: flex;
}

.product-card{
    width: 25%;
    margin: 12px;
    margin-left: 50px;
    padding: 12px;
    margin-top: 100px;
} 
.product-card img{width: 100%;}

.header-img-wraper{
    position: relative;
}
.header-layout{
    background-color: #fff;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    padding: 25px;
}
.header-layout a:hover{
    border: 3px solid blue;
} 
.header-layout a{
    text-decoration: none;
    background-color: blue;
    color: #fff;
    padding: 2%;
} 
.main-content-img img{
    width: 90%;
    margin: 5%;

}
.main-content-img{
    position: relative;
}
.content-layout{
position: absolute;
top: 50%;
color: #fff;
left: 10%;
transform: translateY(-50%);
}
.content-layout a{
    background-color: blue;
    color: #fff;
    padding: 4px;
    text-decoration: none;
}

.things-card img{
    width: 100%;
}
    .ms-things{

    display: flex;
}
.things-card{
    width: 25%;
    margin: 2px;
    padding: 10px;
    margin-left: 50px;
}
.bottom-links{
    display: flex;
}
.footer{
    background-color: #f2f2f2;

}

.bottom-links ul{
    
    list-style-type: none;
 }
 .bottom-links ul li{
    margin: 12px;
 }
 .bottom-links ul li a{
    text-decoration: none;
    color: black;
    font-size: 11px;
    line-height: 16px;
 }
 .bottom-links ul li a:hover{
    border-bottom: 1px solid black;
 }
 .bottom-links ul h5{
     display: flex;
     align-items: center;
 }    
 .social-connections{
    display: flex;
    align-items: center;
    padding: 4px;
}
.main-links{
    display: flex;
}
.main-links ul{
    display: flex; 
   list-style-type: none;
}
.main-links ul h5{
    display: flex;
}
.main-links ul li {
    display: flex;
   margin: 10px;
}
.main-links ul li a{
   text-decoration: none;
   color: black;
}
.main-links ul li a span img{
    width: 30px;
}